extends ../layout

block content
  h1= title
  .nav
    a(class='button' href='/books/new') Add a book
    form#search(action="/books/search" method="get")
      input(type="text" name="query" placeholder="Search in the book library...")
      input(type="submit" value="Search")

  
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody
      each book in books
        tr
          td 
            a(href='/books/' + book.id) #{book.title}
          td #{book.author}
          td #{book.genre}
          td #{book.year}

  ul.pagination.justify-content-start
    each page in pages
      li.page-item
        a.page-link(href=`/books/page/${page + 1}`) #{page + 1}
